/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mai 2017, 23:37:52
    Author     : julia
*/

body{
    font-family: "calibri";
}

div{
    position:relative;
}

h1{
    text-align : center;
}

header, footer, span, input, select{
    border-radius : 7px;   
}

header{
    background-color: #ffb567;
    height: 64px;
    border: solid 2px gray;
    margin:10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header span{
    text-align:center;
}

footer{
    background-color: brown;
    height: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

footer a{
    color : white;
    text-decoration: none;
}

form{
    position :relative;
    width:60%;
    margin-bottom:40px;
}

form input{ 
    display:inline-block;
}

input[type="text"], input[type="password"]{
    width: 200px;
}

input[type="button"], input[type="submit"],input[type="text"]:not(.searchBar),input[type="password"],.valid  {
    position : absolute;
    right : 0%;
}

input[type="reset"]{
    position : absolute;
    right : 100px;
}

input[type="submit"], .valid{
    background-color : #586de8;
    color : white;
}

aside{
    position : relative;
    margin:10px;
}

select option{
    background-color:brown;
}

span{
    display: inline-block;
}

table{
	width:100%;
	border : 1px solid grey;
	border-collapse:collapse;
}

th{
    background-color:gray;
	
}

th,td{
	border : 1px solid grey;
}

.aTrait{
    border-bottom : 2px solid grey;
}

.cancel{
    background-color: red;
    color:white;
}

.centralH{
    background-color : #ffcaae;
    width: 500px;
    height: 30px;
    border: solid 2px gray;
    display: flex;
    justify-content: space-between;
}

.gdCont{
	display: flex;
    justify-content: space-around;
}

.morceau{
	display: inline-block;
	border : 1px solid grey;
	width:40%;
	height:350px;
	margin : 10px;
	overflow: auto;
}

.detail{
	
}

/* la description à l'int d'un détail  */
.moreInfo{
    border : 1px solid grey;
    height:50%;
	height:100px;
	overflow: auto;
}

.searchBar{
    position : relative;
}

.statusConn{
    color : white;
    background-color: brown;
    width: 200px;
    height: 30px;
}

#choisir{
    
}